{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    <form action="{% url 'page' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{title}}">
        <p>Add the body of the new page in Markdown format:</p>        
        <textarea name="page">{{body}}</textarea>
        <br>
        <input type="hidden" name="edit" value="edit">
        <input type="submit" value="Save Page">
      </form>   
      

{% endblock %}